*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
}

.container{
    background-image: gradient(red, pink);
    max-width: 90%;
    width: 375px;
    margin: auto;
}