*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #39ff4d, #0c7bdc);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 2rem;
}

.container h1 span{
    color: #bd03f5ee;
    padding: 4px 0;
    border-bottom: 4px solid #fff;
}

textarea{
    width: 450px;
    padding: 1rem;
    height: 300px;
    outline: 0;
    border-radius: 10px;
    background: #84d2957d;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
}

textarea::placeholder{
    color: #46f758;
}

.row{
    width: 450px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.row button{
    outline: 0;
    border: none;
    padding: 8px 24px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    background-color: #bd03f5ee;
}

.row button img{
    width: 25px;
    background-color: #fff;
}

.row select{
    flex: 1;
    padding: 8px 24px;
    appearance: none;
    outline: none;
    background-image: url(./images/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-x: calc(100% - 10px);
    background-position-y: 10px;
}

