*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#btns{
    display: flex;
    min-width: 20rem;
    height: 10rem;
    align-items: center;
    justify-content: space-evenly;
}

.btn{
    border: 0;
    outline: 0;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #fff;
    background-color: #212121e2;
    box-shadow: 0px 4px #9b9b9b;
    cursor: pointer;
}

#inval:hover{
    box-shadow: 0px 4px #ffa500;
    border: 1px solid #ffa500;
}

#err:hover{
    box-shadow: 0px 4px #ff0000;
    border: 1px solid #ff0000;
}

#success:hover{
    box-shadow: 0px 4px #008000;
    border: 1px solid #008000;
}

.btn:active{
    background-color: #079107f0;
    padding: 0.9rem 1.9rem;
}

.toast{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.toast_not{
    min-width: 10rem;
    padding: 1rem 2rem 1rem 0.5rem;
    background-color: khaki;
    border-radius: 5px 5px 0 0;
    margin: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
}

.toast_not i{
    color: green;
    font-size: 35px;
    margin: 0 16px;
}

.toast_not.invalid i{
    color: orange;
}

#error i{
    color: red;
}

.toast_not::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: green;
    left: 0;
    bottom: 0;
    animation: anim 5s linear forwards;
}

#error::after{
    background: #ff0000;
}

.toast_not.invalid::after{
    background: #ffa500
}


@keyframes anim {
    100%{
        width: 0;
    }
}