*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: #e5f3f6;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_box{
    width: 60%;
    background-image: url(./background_change_img/background.png);
    margin: auto;
    line-height: 0;
    position: relative;
    overflow: hidden;
}

#hor-line{
    width: 1px;
    color: #ffffff;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: ew-resize;
}

#arrow{
    position: absolute;
    width: 40px;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

.img_org{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
/* 
.img_org img{
    width: 100%;
} */