*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    min-height: 100vh;
    width: 100%;
    background-color: #8ce5c7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod_page{
    width: 90%;
    max-width: 750px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    background-color: #fff;
}

.product{
    flex-basis: 47%;
    background-color: #212121;
    position: relative;
    transform: scale(1.06);
    border-radius: 10px;
}
.product img{
    display: block;
    width: 100%;
    padding-top: 100px;
}

.prod_details{
    background: #fff;
    padding: 2rem;
    width: 53%;
    border-radius: 10px;
}
.prod_details h1{
    font-weight: 800;
}
.prod_details h3{
    color: #00d874;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 20px;
}
.prod_details p{
    font-size: 14px;
}

.size_select p{
    width: 70px;
}
.size_select{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.size_select label{
    padding: 0 10px;
    cursor: pointer;
}

.size_select label input:checked + span{
    color: #0059ff;
    font-weight: 600;
}

.size_select label input{
    display: none;
}

.color_select{
    margin-top: 25px;
    display: flex;
    align-items: center;
    width: 100%;
}

.color_select p{
    width: 70px;
}

.color_select label span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}

.color_select label input:checked + span{
    transform: scale(0.7);
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
}

.color_select label input{
    display: none;
}

.color-1{
    background: #db0125;
}
.color-2{
    background: #00d874;
}
.color-3{
    background: blue;
}
.color-4{
    background: rgb(227, 227, 1);
}

.qty{
    display: flex;
    width: 75px;
    margin-top: 25px;
}

.qty input{
    width: 50px;
    margin-left: 28px;
    background: #eee;
    border: 0;
    padding: 0;
    padding: 2px 2px 2px 10px;
}

form button{
    width: 100%;
    padding: 1rem;
    margin-top: 50px;
    border-radius: 30px;
    font-size: 17px;
    color: #fff;
    background-color: #553ff0;
    border: 0;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(85,63,280,0.25);
}

.controls{
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.btn{
    display: block;
    background: rgba(255,255,255,0.5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 15px;
    cursor: pointer;
}

.active{
    background-color: #553ff0;
}