*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #EDF1FD;
    --secondary-color: #212121;
    --dark-oro: #FF521F;
}

.wb{
    :root{
        --primary-color: #212121;
        --secondary-color: #EDF1FD;
    }
}

.container{
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    position: relative;
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 1rem 6rem 0;
}

.navbar img{
    width: 90px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
}

.navbar ul a{
    color: #76777A;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: border-bottom, padding-bottom 0.5s;
}

.navbar ul a:hover{
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--dark-oro);
    color: var(--dark-oro);
}

.navbar ul img{
    display: inline-flex;
    align-self: center;
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.Iam{
    position: absolute;
    width: 45%;
    height: 30%;
    text-align: left;
    padding-left: 100px;
    top: 35%;
}

.Iam h1{
    font-size: 65px;
}

.Iam p{
    margin-top: 1rem;
}

.Iam h1 span{
    color: var(--dark-oro);
}

.Iam button{
    padding: 8px 1rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
}
.Iam a{
    text-decoration: none;
    color: var(--primary-color);
}

.image{
    position: absolute;
    width: 45%;
    height: 80%;
    bottom: 0;
    right: 100px;
}

.image img{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
}

#pattern{
    transition: bottom 1s;
}

#girl{
    transition: left 1s;
}

.image:hover #pattern{
    bottom: 40px;
}

.image:hover #girl{
    left: 45%;
}