*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b4b7f;
}

form{
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background: #fff;
    position: relative;
    border-radius: 10px;
}

.paper{
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 50%;
    top: -1px;
    background-color: #fff;
    box-shadow: 0px 5px 10px #b9b7b7;
}

::placeholder{
    font-size: 14px;
}

.paper i{
    color: #008cff;
    font-size: 25px;
}

.tip-top{
    margin-top: 30px;
}

.input-group{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.input-group input, textarea {
    border: none;
    border-bottom: 2px solid #bab9b9;
    outline: none;
    width: 230px;
}

.input-group span{
    position: absolute;
    color: red;
    font-size: 12px;
    right: 5px;
    bottom: 2px;
}

#subBtn{
    width: 150px;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    background: linear-gradient(#4186f58e, #0091ff);
    box-shadow: 0px 2px 5px #bcbaba;
}

#subBtn:active{
    background: linear-gradient(45deg, #4186f58e, #0091ff);
}